<div class="part-screen__container flex_container_column">
    <div class="donors__edit__list-title flex_container_row no-shrink">
        <div class="donors__edit__title-box">
            <ng-container *ngIf="!editTitle">
                {{selectedTitle}}
            </ng-container>
            <ng-container *ngIf="editTitle">
                <input type="text" [(ngModel)]="selectedTitle">
            </ng-container>
        </div>
        <button *ngIf="!editTitle" (click)="editListTitle()" ></button>
        <button class="save" *ngIf="editTitle" (click)="saveListTitle()" ></button>
        <!-- <button class="delete" (click)="deleteDonorCategory(selectedKey)" ></button> -->
        <button class="delete" (click)="openDeleteModal('section')"></button>
    </div>
    <div class="part-screen__with-refresh flex_container_row no-shrink">
        <div class="part-screen__refresh-button-container flex_container_row">
            <!-- To remove button from layout just comment out next 4 lines -->
            <div class="part-screen__refresh-button flex_container_row">
                    <div class="icon"></div>
                    <p>Refresh Donors</p>
            </div>
        </div>
        <div class="donors__edit__add-donor flex_container_row no-shrink">
            <input class="donors__edit__add-name" type="text" placeholder="Name" [(ngModel)]="newDonor.name">
            <input class="donors__edit__add-letter" type="text" placeholder="Letter" [(ngModel)]="newDonor.letter">
            <button (click)="addRow()">Add New Donor</button>
        </div>
    </div>
    <ng-container *ngIf="selectedList && selectedList.length > 0">
            <div class="donors__edit__table-header flex_container_row no-shrink">
                <div class="donors__edit__table-item center flex-3">
                    <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                </div>
                <div class="donors__edit__table-item flex-4">
                    <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                </div>
                <div class="donors__edit__table-item flex-5">
                    Name
                </div>
                <div class="donors__edit__table-item center flex-3">
                    Letter
                </div>
                <div class="donors__edit__table-item flex-1">
                    
                </div>
                <div class="donors__edit__table-item flex-1">
                    
                </div>
            </div>
            <div [style.width]="scrollBarWidthStr" [style.margin-left]="scrollBarWidth + 'px'" class="donors__edit__table-body flex_container_column">
                <div class="donors__edit__table-row flex_container_row" *ngFor="let entry of selectedList; let i = index" [style.background-color]="i%2 == 0 ? '#EFEFEF' : '#FFFFFF'">
                        <div class="donors__edit__table-item center flex-3">
                            <span *ngIf="i > 0" (click)="moveDonorUp(entry.id)" ><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                        </div>
                        <div class="donors__edit__table-item flex-4">
                            <span *ngIf="i < selectedList.length-1" (click)="moveDonorDown(entry.id)" ><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                        </div>
                        <div class="donors__edit__table-item flex-5">
                            <ng-container *ngIf="!entry.inEditMode">
                                    {{entry.name}}
                            </ng-container>
                            <ng-container *ngIf="entry.inEditMode">
                                <input type="text" [(ngModel)]="entry.name">
                            </ng-container>
                        </div>
                        <div class="donors__edit__table-item center flex-3">
                                <ng-container *ngIf="!entry.inEditMode">
                                    {{entry.letter}}
                                </ng-container>
                                <ng-container *ngIf="entry.inEditMode">
                                    <input type="text" [(ngModel)]="entry.letter">
                                </ng-container>
                        </div>
                        <div class="donors__edit__table-item flex-1">
                                <ng-container *ngIf="!entry.inEditMode">
                                        <div class="btn deleteBtn" (click)="openDeleteModal('row', i)"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                </ng-container>
                                <ng-container *ngIf="entry.inEditMode">
                                    <div class="btn saveBtn" (click)="saveRow(i)"><i class="fa fa-floppy-o" aria-hidden="true"></i></div>
                                </ng-container>
                        </div>
                        <div class="donors__edit__table-item flex-1">
                                <ng-container *ngIf="!entry.inEditMode">
                                    <div class="btn editBtn" (click)="editRow(i)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                </ng-container>
                                <ng-container *ngIf="entry.inEditMode">
                                    <div class="btn cancelBtn" (click)="cancelEdit(i)"><i class="fa fa-reply" aria-hidden="true"></i></div>
                                </ng-container>
                        </div>
                </div>
            </div>
    </ng-container>
</div>


<ng-template #dynamicDirective></ng-template>